.mainForm__container {
  margin: 5px;
  padding: 30px;
}

.mainForm {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  overflow-x: scroll;
}

.mainForm__input {
  min-width: fit-content;
  margin: 0 20px;
}

.mainForm__input > input{
  padding: 14px 16px;
}


.mainForm__submitBtn{
  padding: 18px 40px;
  background-color: #28A745;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}


.mainForm__submitBtn:hover{
  background-color: #33c956;

}