.header {
  margin: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow-y: scroll;
  min-height: 80px;
}

.header__logo {
  flex: 1;
}

.header__logo > h1{
  font-family: 'Metal Mania', cursive;
  font-size: 40px;
}

.header__balance {
  margin: 0 20px;
}

.header__userGreet {
  margin: 0 20px;
}
