.login {
  /* border: 1px solid; */
  height: 100%;
  display: flex;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  flex-direction: row;
  justify-content: space-around;
}

.login__left {
  /* border: 1px solid; */
  padding: 20px;
  line-height: 2.6;
  font-family: 'Metal Mania', cursive;
  display: flex;
  flex-direction: column;
}

.login__left > p {
  font-size: 30px;
  /* font-weight: 700; */
}

.login__right {
  /* border: 1px solid; */
  padding: 20px;
  flex: 1;
  min-width: 400px;
  max-height: fit-content !important;
}

.login__right > form {
  display: flex;
  flex-direction: column;

}

.login__right > form > h1 {
  text-align: center;
  margin-bottom: 30px;
}

.login__input {
  padding: 14px 16px;
  margin: 10px;
  outline: none;
  border: 1px solid rgb(136, 136, 136);
  border-radius: 10px;
}

.login__input:focus {
  outline: 1px solid #156ee4;
}

.login__btn {
  padding: 14px 16px;
  margin: 10px;
  border: none;
  border-radius: 10px;
  background-color: #156ee4;
  color: white;
  cursor: pointer;
}
.login__btn,
.login__input {
  font-size: 18px;
}

.login__btn:hover {
  background-color: #1262cb;
}

.login__alert {
  padding: 14px 16px;
  margin: 10px;
  font-size: 12px;
}

.login__alert > p {
  color: gray;
}

.login__signupbtn {
  padding: 14px 16px;
  margin: 10px;
  border: none;
  border-radius: 10px;
  background-color: #35a420;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

@media screen and (max-width: 1189px) {
  
  .login__right {
    min-width: 300px;
  }
  .login__input,
  .login__btn,
  .login__signupbtn {
    padding: 12px 14px;
    font-size: 14px;
  }
  .login {
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
    height:fit-content;
  }

  .login__alert{

  }
}

@media screen and (max-width: 1007px) {
  
  .login__input,
  .login__btn,
  .login__signupbtn {
    padding: 10px 12px;
    font-size: 12px;
  }

  .login__left > p {
    font-size: 20px;
  }
}


@media screen and (max-width: 640px) {
 .login__left > p{
   font-size: 15px;
 }

 .login__right > form > h1 {
   font-size: 18px;
 }
}