*,body,html{
  margin: 0;
}

body{
  background-color: rgb(56, 56, 56) !important;

}

.app{
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
justify-content: center;
flex-wrap: wrap;
}

.app__main{
  max-width: 800px !important;
}
/* 
.MuiPaper-root	{
  background-color: black !important;
  color: white !important;
} */